@model IEnumerable<MasterRoster.DataAccessLayer.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employee_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seniority_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roletype_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crew_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supervisor_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seniority_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roletype_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.crew_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supervisor_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
