@model MasterRoster.Models.EmployeeViewModels.AllEmployeesViewModel

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Custom/CustomFunctions.js"></script>
<h3>Employees</h3>

<table class="table">
    <tr class="alert-danger">

        <th style="float:left;">

            All Roles  @Html.DropDownList("Role", Model.AllRoles, htmlAttributes: new { @class = "form-control" })        
        </th>
        <th style="float:left;">

            All Crews @Html.DropDownList("Crew", Model.AllCrews, htmlAttributes: new { @class = "form-control" })
        </th>
    </tr>
    <tr class="alert-danger">
        <th colspan="2">
            &nbsp;&nbsp;&nbsp;<button class="" name="Search" value="Search" onclick="SearchEmployees()">Search Employees</button>
        </th>
    </tr>

</table>

<table class="table">
    <tr>
        <th>Employee Number</th>
        <th>Employee Name</th>
        <th>Role</th>
        <th>Crew</th>
        <th></th>
    </tr>
@foreach (var employee in Model.Employees) {
    <tr>
        <td>
            @employee.employee_num
        </td>
        <td>
            @employee.name
        </td>
        <td>
            @employee.RoleType.roletype_name
        </td>
        <td>
            @employee.Crew.crew_code
        </td>
        <td>
            <a href="Details?employeeId=@employee.employee_id">Details</a>
        </td>
    </tr>
}

</table>
